
<%= render partial: '/shared/header', locals: { page_name: 'EXPENSES', back_link_path: root_path} %>
<div class="w-full pb-24">
    <%
    total_amount = 0
    @category.expenses.each do |expense|
        total_amount += expense.amount
    end
    %>
    <div class="h-[50px] flex items-center bg-white my-2 w-full">
        <h2>Total amount: <span class="font-bold"><%= total_amount %> $</span></h2>
    </div>

    <% @category.expenses.each do |expense| %>
        <div class="m-3 bg-white p-2 flex flex-col justify-between h-[90px]">
                <div class="flex w-full justify-between">
                    <h2 class="text-color-text"><%= expense.name %></h2>
                    <h2  class="font-bold text-lg"> <%= expense.amount %> $ </h2>
                </div>
                <small class="font-thin"><%= expense.created_at %></small>
        </div>
    <% end %>

    <div class="link-highlight-container">
        <%= link_to 'ADD EXPENSE', new_category_expense_path(@category.id), class: 'link-highlight' %>
    </div>
</div>